@import url("./colors.css");

/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        background-color: @primary;
    }

    to {
        background-color: @warning;
    }
}

@keyframes blink-critical {
    10% {
      background-color: @primary;
    }

    to {
      background-color: @urgent;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

/* The whole bar */
#waybar {
    color: @text;
    font-family: Cantarell, Overpass Nerd Font;
    font-size: 20px;
    border-bottom: 2px solid @shadow;
    background-color: @main;
}

#window {
    /*no styles*/
}

/* Each module */
#pulseaudio-slider,
#custom-power-profile,
#workspaces button,
#idle_inhibitor,
#mpris,
#backlight,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    color: @main;
    border-radius: 0px 0px 4px 4px;
    background-color: @pimary;
    margin: 0px 5px 5px 5px;
    padding: 5px 5px;
    border-bottom: 3px solid @underline;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 10s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#battery.charging {
    background-color: @secondary;
}

#battery {
    background-color: @primary;
}

#clock {
    background-color: @sapphire;
}

#custom-power-profile.power-saver {
    background-color: @urgent;
}

#custom-power-profile.balanced {
    background-color: @primary;
}

#custom-power-profile.performance {
    background-color: @warning;
}

#mpris {
    background-color: @music;
}

#pulseaudio {
    background-color: @tertiary;
}

#tray {
    color: @tray;
    border-color: @tray;
}

#idle_inhibitor.activated,
#mode,
#backlight {
    background-color: @backlight;
}

#idle_inhibitor.deactivated,
#pulseaudio.muted,
#workspaces button {
    border-color: @unfocused;
    color: @unfocused;
    background-color: @transparent;
}


#workspaces button:hover,
#workspaces button.focused {
    transition: all 0.3s;
}

#workspaces button.focused {
    padding-right: 14px;
    padding-left: 14px;
    background-color: @primary;
    border-color: @underline;
    color: @main;
}

#workspaces button.urgent {
    background-color: @urgent;
    border-color: @urgent;
}

#pulseaudio-slider {
    background-color: @tertiary
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 40px;
    border-radius: 5px;
    background-color: @unfocused;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @main;
}
